@model ProyectoFinalElectricidadSeret.Models.Articulo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Articulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArtCodart" />
            <div class="form-group">
                <label asp-for="ArtCodbar" class="control-label"></label>
                <input asp-for="ArtCodbar" class="form-control" />
                <span asp-validation-for="ArtCodbar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCodori" class="control-label"></label>
                <input asp-for="ArtCodori" class="form-control" />
                <span asp-validation-for="ArtCodori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtDescri" class="control-label"></label>
                <input asp-for="ArtDescri" class="form-control" />
                <span asp-validation-for="ArtDescri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtDescrl" class="control-label"></label>
                <input asp-for="ArtDescrl" class="form-control" />
                <span asp-validation-for="ArtDescrl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ArtDiscon" /> @Html.DisplayNameFor(model => model.ArtDiscon)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ArtCodlin" class="control-label"></label>
                <select asp-for="ArtCodlin" class="form-control" asp-items="ViewBag.ArtCodlin"></select>
                <span asp-validation-for="ArtCodlin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCodrub" class="control-label"></label>
                <select asp-for="ArtCodrub" class="form-control" asp-items="ViewBag.ArtCodrub"></select>
                <span asp-validation-for="ArtCodrub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCodsru" class="control-label"></label>
                <select asp-for="ArtCodsru" class="form-control" asp-items="ViewBag.ArtCodsru"></select>
                <span asp-validation-for="ArtCodsru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCodmar" class="control-label"></label>
                <select asp-for="ArtCodmar" class="form-control" asp-items="ViewBag.ArtCodmar"></select>
                <span asp-validation-for="ArtCodmar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtEmbala" class="control-label"></label>
                <input asp-for="ArtEmbala" class="form-control" />
                <span asp-validation-for="ArtEmbala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtUmcomp" class="control-label"></label>
                <input asp-for="ArtUmcomp" class="form-control" />
                <span asp-validation-for="ArtUmcomp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtUmvent" class="control-label"></label>
                <input asp-for="ArtUmvent" class="form-control" />
                <span asp-validation-for="ArtUmvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCoefcv" class="control-label"></label>
                <input asp-for="ArtCoefcv" class="form-control" />
                <span asp-validation-for="ArtCoefcv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtStoact" class="control-label"></label>
                <input asp-for="ArtStoact" class="form-control" />
                <span asp-validation-for="ArtStoact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtStocom" class="control-label"></label>
                <input asp-for="ArtStocom" class="form-control" />
                <span asp-validation-for="ArtStocom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCanped" class="control-label"></label>
                <input asp-for="ArtCanped" class="form-control" />
                <span asp-validation-for="ArtCanped" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtStomin" class="control-label"></label>
                <input asp-for="ArtStomin" class="form-control" />
                <span asp-validation-for="ArtStomin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtStomax" class="control-label"></label>
                <input asp-for="ArtStomax" class="form-control" />
                <span asp-validation-for="ArtStomax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtObserv" class="control-label"></label>
                <input asp-for="ArtObserv" class="form-control" />
                <span asp-validation-for="ArtObserv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCodpro" class="control-label"></label>
                <select asp-for="ArtCodpro" class="form-control" asp-items="ViewBag.ArtCodpro"></select>
                <span asp-validation-for="ArtCodpro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtUltcom" class="control-label"></label>
                <input asp-for="ArtUltcom" class="form-control" />
                <span asp-validation-for="ArtUltcom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtUltact" class="control-label"></label>
                <input asp-for="ArtUltact" class="form-control" />
                <span asp-validation-for="ArtUltact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtPrecos" class="control-label"></label>
                <input asp-for="ArtPrecos" class="form-control" />
                <span asp-validation-for="ArtPrecos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtDtocom" class="control-label"></label>
                <input asp-for="ArtDtocom" class="form-control" />
                <span asp-validation-for="ArtDtocom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtValiva" class="control-label"></label>
                <input asp-for="ArtValiva" class="form-control" />
                <span asp-validation-for="ArtValiva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCodmon" class="control-label"></label>
                <select asp-for="ArtCodmon" class="form-control" asp-items="ViewBag.ArtCodmon"></select>
                <span asp-validation-for="ArtCodmon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtTipimp" class="control-label"></label>
                <input asp-for="ArtTipimp" class="form-control" />
                <span asp-validation-for="ArtTipimp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtImpues" class="control-label"></label>
                <input asp-for="ArtImpues" class="form-control" />
                <span asp-validation-for="ArtImpues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtDtovta" class="control-label"></label>
                <input asp-for="ArtDtovta" class="form-control" />
                <span asp-validation-for="ArtDtovta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtComvta" class="control-label"></label>
                <input asp-for="ArtComvta" class="form-control" />
                <span asp-validation-for="ArtComvta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtImagen" class="control-label"></label>
                <input asp-for="ArtImagen" class="form-control" />
                <span asp-validation-for="ArtImagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCtacom" class="control-label"></label>
                <input asp-for="ArtCtacom" class="form-control" />
                <span asp-validation-for="ArtCtacom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCtavta" class="control-label"></label>
                <input asp-for="ArtCtavta" class="form-control" />
                <span asp-validation-for="ArtCtavta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCcocom" class="control-label"></label>
                <input asp-for="ArtCcocom" class="form-control" />
                <span asp-validation-for="ArtCcocom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCcovta" class="control-label"></label>
                <input asp-for="ArtCcovta" class="form-control" />
                <span asp-validation-for="ArtCcovta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtUspart" class="control-label"></label>
                <input asp-for="ArtUspart" class="form-control" />
                <span asp-validation-for="ArtUspart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtUsseri" class="control-label"></label>
                <input asp-for="ArtUsseri" class="form-control" />
                <span asp-validation-for="ArtUsseri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtPromoc" class="control-label"></label>
                <input asp-for="ArtPromoc" class="form-control" />
                <span asp-validation-for="ArtPromoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtEquiva" class="control-label"></label>
                <input asp-for="ArtEquiva" class="form-control" />
                <span asp-validation-for="ArtEquiva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCodtar" class="control-label"></label>
                <select asp-for="ArtCodtar" class="form-control" asp-items="ViewBag.ArtCodtar"></select>
                <span asp-validation-for="ArtCodtar" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ArtCompue" /> @Html.DisplayNameFor(model => model.ArtCompue)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ArtDispon" class="control-label"></label>
                <input asp-for="ArtDispon" class="form-control" />
                <span asp-validation-for="ArtDispon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtCodcab" class="control-label"></label>
                <input asp-for="ArtCodcab" class="form-control" />
                <span asp-validation-for="ArtCodcab" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtStover" class="control-label"></label>
                <input asp-for="ArtStover" class="form-control" />
                <span asp-validation-for="ArtStover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtAcondi" class="control-label"></label>
                <input asp-for="ArtAcondi" class="form-control" />
                <span asp-validation-for="ArtAcondi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtImaux1" class="control-label"></label>
                <input asp-for="ArtImaux1" class="form-control" />
                <span asp-validation-for="ArtImaux1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtImaux2" class="control-label"></label>
                <input asp-for="ArtImaux2" class="form-control" />
                <span asp-validation-for="ArtImaux2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtImaux3" class="control-label"></label>
                <input asp-for="ArtImaux3" class="form-control" />
                <span asp-validation-for="ArtImaux3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtImaux4" class="control-label"></label>
                <input asp-for="ArtImaux4" class="form-control" />
                <span asp-validation-for="ArtImaux4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtEcopro" class="control-label"></label>
                <input asp-for="ArtEcopro" class="form-control" />
                <span asp-validation-for="ArtEcopro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtEcomp1" class="control-label"></label>
                <input asp-for="ArtEcomp1" class="form-control" />
                <span asp-validation-for="ArtEcomp1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtEcomp2" class="control-label"></label>
                <input asp-for="ArtEcomp2" class="form-control" />
                <span asp-validation-for="ArtEcomp2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtEcomp3" class="control-label"></label>
                <input asp-for="ArtEcomp3" class="form-control" />
                <span asp-validation-for="ArtEcomp3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtDestac" class="control-label"></label>
                <input asp-for="ArtDestac" class="form-control" />
                <span asp-validation-for="ArtDestac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtAlto" class="control-label"></label>
                <input asp-for="ArtAlto" class="form-control" />
                <span asp-validation-for="ArtAlto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtAncho" class="control-label"></label>
                <input asp-for="ArtAncho" class="form-control" />
                <span asp-validation-for="ArtAncho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtProfun" class="control-label"></label>
                <input asp-for="ArtProfun" class="form-control" />
                <span asp-validation-for="ArtProfun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtPeso" class="control-label"></label>
                <input asp-for="ArtPeso" class="form-control" />
                <span asp-validation-for="ArtPeso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtVolume" class="control-label"></label>
                <input asp-for="ArtVolume" class="form-control" />
                <span asp-validation-for="ArtVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtAgrmp1" class="control-label"></label>
                <input asp-for="ArtAgrmp1" class="form-control" />
                <span asp-validation-for="ArtAgrmp1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtAgrmp2" class="control-label"></label>
                <input asp-for="ArtAgrmp2" class="form-control" />
                <span asp-validation-for="ArtAgrmp2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtAgrmp3" class="control-label"></label>
                <input asp-for="ArtAgrmp3" class="form-control" />
                <span asp-validation-for="ArtAgrmp3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtTags" class="control-label"></label>
                <input asp-for="ArtTags" class="form-control" />
                <span asp-validation-for="ArtTags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
