@model ProyectoFinalElectricidadSeret.Models.Usuario


<div class="container border p-lg-4">
    <h4>Login</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Usuarios" asp-action="LoginUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UsuNombre" class="control-label"></label>
                    <input asp-for="UsuNombre" type="text" class="form-control" required />
                    <span asp-validation-for="UsuNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UsuContras" class="control-label"></label>
                    <input asp-for="UsuContras" type="text" class="form-control" required />
                    <span asp-validation-for="UsuContras" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{ 
    @{ <partial name="_ValidationScriptsPartial" />}
}
